body {
  padding: 0px;
  margin: 0px;
}

html {
  padding: 0px;
  margin: 0px;
}

#mainContainer {
  padding: 0px;
  margin: 0px;
}

#nameContainer {
  padding: 0px;
  margin: 0px;
  padding-top: 30vh;
  position: absolute;
}

#EngName {
  font-family: Teko;
  font-size: 11vw;
  text-align: left;
  color: #000;
}

#ChineseName {
  font-family: Ma Shan Zheng;
  font-size: 11vw;
  text-align: left;
  color: #000;
}

#CoverPage {
  height: 100vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

#headImage {
  width: 80%;
  height: 60%;
  float: right;
  padding-top: 10vh;
}

#profilePage {
  width: 100vw;
  padding-top: 6vw;
  padding-bottom: 5vw;
  background-color: #dcdcdc;
}

#profileLeft {
  width: 20vw;
  margin: 0px;
  padding: 0px;
  padding-left: 15vw;
  display: inline-block;
  vertical-align: top;
}

#profilePic {
  width: 15vw;
  height: 15vw;
  border-right: 0.5vw solid #000;
  padding-right: 0.5vw;
}

#profileName {
  margin: 0px;
  padding: 0px;
  width: 16vw;
  font-size: 3vw;
  font-family: Rajdhani;
  margin-bottom: 0.5vw;
  border-bottom: 0.5vw solid #000;
  padding-bottom: 1vw;
}

#profile {
  width: 50vw;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  padding-left: 5vw;
  font-size: 1.2vw;
  font-family: Barlow Semi Condensed;
}

.icons {
  width: 25px;
  height: 25px;
  display: inline-block;
  padding-top: 2vw;
  padding-right: 2.5vw;
}

#albumHeading {
  background-color: #efefef;
  margin:0px;
  padding-top: 6vw;

}

h1 {
  border-bottom: 0.5vw solid #000;
  width: 16vw;
  margin: 0px;
  padding: 0px;
  margin-left: 15vw;
  font-size: 3vw;
  font-family: Rajdhani;

}

#albumOne {
  width: 100vw;
  background-color: #efefef;
  padding-top: 12vw;
  padding-bottom: 10vw;
}

.OddAlbumPic {
  height: 20vw;
  width: 20vw;
  margin: 0px;
  margin-left: 15vw;
  background-color: #fff;
  display: inline-block;
}

.albumCover {
  height: 100%;
  width: 100%;
}

.albumContent {
  display: inline-block;
  vertical-align: top;
  padding-left: 9vw;
  width: 50%;
}

.albumName {
  font-family: Teko;
  font-size: 4vw;
  /* padding-bottom: 1vw; */
}

.releasedDate {
  font-size: 1.5vw;
  font-family: Teko;
  padding-bottom: 1.5vw;
  color: #525252;
}

.songNames {
  font-size: 1.6vw;
  font-family: Barlow Semi Condensed;
  padding-left: 1.5vw;
}

.columnOne {
  display: inline-block;
  vertical-align: top;
  padding-right: 20%;
}

.columnTwo {
  display: inline-block;
  vertical-align: top;
}

ol {
  margin: 0px;
  padding: 0px;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

#albumTwo {
  height: 50vh;
  width: 100vw;
  background-color: #efefef;
  padding-top: 12vw;
  padding-bottom: 10vw;
}

#albumThree {
  height: 50vh;
  width: 100vw;
  background-color: #efefef;
  padding-top: 12vw;
  padding-bottom: 10vw;
}
